certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
filelock==3.13.4
fsspec==2024.3.1
huggingface-hub==0.22.2
idna==3.7
numpy==1.26.4
packaging==24.0
pyTelegramBotAPI==4.17.0
python-dotenv==1.0.1
PyYAML==6.0.1
regex==2024.4.28
requests==2.31.0
safetensors==0.4.3
telebot==0.0.5
tokenizers==0.19.1
tqdm==4.66.2
transformers==4.40.1
typing_extensions==4.11.0
urllib3==2.2.1
